#herop1 h1 {
    font-size: var(--fs-hero-h1);
    /* font-size: 1.5em; */
    font-weight: 800;
    z-index: 3;
    position: relative;
}

#herop1 p {
    width: 80%;
    font-weight: 200;
    z-index: 3;
    position: relative;
}

#herop1 a {
    text-decoration: none;
    color: white;
    opacity: .8;
    z-index: 3;
    position: relative;
}

#herop1 a:hover {
    opacity: 1;
    text-decoration: underline;
    z-index: 3;
    position: relative;
}

#herop1 {
    position: relative;
}

#hero {
    padding-top: 20vh;
}

#realhero {
    height: 200vh;
    color: white;
    padding: 0;

}

#herop1::after {
    content: "";
    width: 150%;
    height: 150%;
    z-index: 1;
    position: absolute;
    transform: translate(-25%,-25%);
    top: 0;
    left: 0;
    opacity: 1;
    background-color: black;
    border-radius: 50%;
    filter: blur(100px)
}