html,
body {
    /* color: white; */
    font-family: Inter;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fs-hero-h1: clamp(2rem, 4vw + 1rem, 2rem)
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    :root {
        --fs-hero-h1: clamp(2rem, 4vw + 1rem, 2rem)
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    :root {
        --fs-hero-h1: clamp(2rem, 4vw + 1rem, 3rem)
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    :root {
        --fs-hero-h1: clamp(2rem, 4vw + 1rem, 5rem)
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    :root {
        --fs-hero-h1: clamp(2rem, 4vw + 1rem, 6rem)
    }
}